body{
    display: flex;
    justify-content: flex-end;
    
}
.game-board{
    display: grid;
    width: 100vh;
    height: 100vh;
    grid-template-rows: repeat(21, 1fr);
    grid-template-columns: repeat(21, 1fr);
    margin-right: 15%;
}
.blue{
    background-image: url('/images/rain.jfif');
    min-width: 30px;
    min-height: 30px;
}
.green{
    background-image: url('images/leaves2.jpg');
    min-width: 30px;
    min-height: 30px;
}
.dark-brown{
    background-image: url('/images/tree.jpg');
    min-width: 30px;
    min-height: 30px;
}
.grey{
    background-image: url('/images/gold.jfif');
    min-width: 30px;
    min-height: 30px;
}
.brown{
    background-image: url('/images/soil.jfif');
    min-width: 30px;
    min-height: 30px;
}
.grass-brown{
    background-image: url('/images/grass.jfif');
    min-width: 30px;
    min-height: 30px;
}
.white{
    background-image: url('/images/rainy-cloud.jfif');
    min-width: 30px;
    min-height: 30px;
}
.bag{
    height: 100v;
    width: 15%;
    background: black;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.pickaxe-background{
    background: url('/images/tools.png') no-repeat -179px -27px;
	background-size: 340px 132px;
	width: 93px;
	height: 94px;
}
.pickaxe{
    display: flex;
    text-align: center;
    border: 1px solid white;
    margin: 10px 0;
    color: red;
    height: 140px;
    width: 100px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.8s ease-in;

}
.shovel-background{
    background: url('/images/tools.png') no-repeat -115px 0;
	background-size: 340px 132px;
	width: 44px;
	height: 132px;
}
.shovel{
    display: flex;
    text-align: center;
    border: 1px solid white;
    margin: 10px 0;
    color: red;
    height: 140px;
    width: 100px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.8s ease-in;

}
.axe-background{
    background: url('/images/tools.png') no-repeat 0 -3px;
	background-size: 340px 132px;
	width: 61px;
	height: 123px;
}
.axe{
    display: flex;
    text-align: center;
    border: 1px solid white;
    margin: 10px 0;
    color: red;
    height: 140px;
    width: 100px;
    align-items: center;
    justify-content: center;
    transition: background-color 0.2s ease-in;

}
.selected-item{
    width: 30px;
    height: 30px;
    border: 1px solid white;
    
}
.selected-tool{
    background: blue;
    border: none;
    transition: background-color 0.8s ease-in;
}
.selected-material{
    border: 1px solid blue;
    min-width: 30px;
    min-height: 30px;
}